* {
  box-sizing: border-box;
  padding: 0;
  text-decoration: none;
  list-style: none;

}
.Etuylä {
  background-color: #dfedf2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;
  border-bottom: 1px solid;
  gap: 10px;
}


.pagebody {
  margin:0;
  height:100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  width: 100%;

}

.headtop {
  border-bottom: solid black 1px;
  background-color: #0D1E40;
  height: 5em;
}


.navbar ul {
  gap: 10px;
  font-size: 3vh;
}

.navbar a {
  padding: 10px;
  display: inline-block;
  color:white;
}
.otsikko {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 2.5em;
  font-size: 2.5rem;
}

p {
  font-size: 2.5vh;
}



.pagemain{
  height: auto;
}

.reseptit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
}

.desc {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.instruction {
  margin-bottom: 2em;
  margin-top: 2em;
}

.instruction form textarea {
  width: 100%;
  height: 500px;
  border: 4px solid #0D1E40 ;
  border-radius: 4px;
  padding: 1em 1em 1em 1em;
  font-size: 1.5em;
  resize: none;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

#tag {
  background-color: #0D1E40;
  border: solid 1px #0D1E40;
  border-radius: 1em;
  color: white;
  height:3em;
  width: 7em;
}


.recipename {
  text-align: center;
}
.recipename input {
  margin-bottom: 2em;
  width: 20em;
  height: 3em;
}

.post {
  height: 3em;
  width: 7em;
  background-color: #0D1E40;
  border: solid 1px #0D1E40;
  border-radius: 1em;
  color: white;
}

.postButton {
  text-align: center;
}

.modalflex {
  display: flex;
  flex-direction: row;
}

.modaladd {
  text-align: center;
}

.tags {
  background-color: lightgray;
  height: 300px;
  width: 70%;
  margin: auto;
  border: solid 1px gray;
}

.tagbutton button {
  width: 25%;
  margin-top: 5%;
  height: 40px;
}
.modal-content button{
  background-color: #0D1E40;
  border: solid 1px #0D1E40;
  border-radius: 1em;
  color: white;
  height:3em;
  width: 7em;
}


.checknappi {
  font-size: 30px;
  display: none;
  margin-bottom: 10px;
}

#check {
  display: none;
}
#addrecipesButton {
  width: 7em;
  height: 3em;
  background-color: #0D1E40;
  border-color: #0D1E40;
  border-radius: 1em;
  color: white;
}

#filter {
  width: 7em;
  height: 3em;
  background-color: #0D1E40;
  border-color: #0D1E40;
  border-radius: 1em;
  color: white;

}

.marpad1rem {
    /* margin: 1rem; */
    /* padding: 1rem; */
}

.marginhalfrem {
    /* margin: 0.5rem; */
    padding: 0.5rem;
}

.recipebutton {
  text-align: center;
}

.Haeresepti {
  width: 200px;
  max-width: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.closeDelete {
  color: #aaaaaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.closeDelete:hover,
.closeDelete:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.filters {
  background-color: lightgray;
  height: 300px;
  width: 70%;
  margin: auto;
  border: solid 1px gray;
}

.filtersave {
  margin-top: 5%;
}
.nav-start {
  display: flex;
  justify-content: flex-start;
  padding-left:1em;
}

.nav-end {
  display: flex;
  justify-content: flex-end;
  padding-right: 1em;
}

.posts {
  width: 40%;
  margin-left: 7%;
  margin-top: 5%;
  box-shadow: 1px 2px 14px 5px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.profile {
  width: 50%;
  text-align: center;
}
.profile p {
  font-size: 30px;
}

.delete {
  justify-content: space-between;
}
.delete button {
  height: 50px;
  font-size: 30px;
  width: 15%;
}
.pic {
  margin-top: 20%;
  text-align: center;
}
.save {
  display: flex;
  justify-content: space-between;
  margin-top: 20%;
  text-align: center;
  gap: 10px;
}

.save button {
  height: 35px;
  width: 25%;
}
.nappi button {
  width: 7em;
  height: 3em;
  background-color: #0D1E40;
  border-color: #0D1E40;
  border-radius: 1em;
  color: white;
}

.uploadimage {
  background-color: #0D1E40;
  border: solid 1px #0D1E40;
  border-radius: 1em;
  color: white;
  height:3em;
  width:100%;
}
.imagebutton {
  width: 7em;
  text-align: center;
}

.Reseptikuva {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid;
}

.Reseptiohje {
  padding-left: 20rem;
  padding-right: 20rem;
}

.checknappi {
  font-size: 30px;
  display: none;
  margin-bottom: 10px;
}
#check {
  display: none;
}

 /* Resepti kortti */
.recipefigure {
  border: solid 1px black;
  width: 25vw;
  font-size: 15px;
  padding-bottom: 15px;
  margin: 1rem;
  background-color: #DFEDF2;
  text-align: center;
}

.recipefigure button {
  background-color: #0D1E40;
  color: white;
}
#profileArticle {
  display: flex;
  height: auto;
  justify-content: space-between;
}
#profilepic{
  width: 25%;
}
.profile p {
  font-size: 30px;
}
#recipepic {
  text-align: center;
  width:25%;
}
.recipe {
  padding: 50px;
  text-align: center;
}
.recipe p {
  border: solid 1px black;
}
.comments {
  text-align:center;
  border: solid 1px black;
}
#signupImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15em;
}
.signup {
  text-align:center;
}
.nappi {
  text-align: center;
  margin-top: 5em;
}
#edit {
  background-color: #0D1E40;
  border: solid 1px #0D1E40;
  border-radius: 1em;
  color: white;
  height:3em;
  width: 7em;
}

@media screen and (max-width: 1024px) {
  .recipefigure {
    width: 30vw;
  }
}

@media screen and (max-width: 750px) {
 .recipefigure {
    width: 60vw;
  }
  .reseptit {
    flex-direction: column;
  }
}

@media screen and (max-width: 525px) {

  .recipefigure {
    width: 60vw;
  }

  .Etuylä {
    flex-direction: column;
  }
  .recipebutton {
    margin: 7%;
  }
  .desc {
    width: 75%;
  }
  .checknappi {
    display: flex;
  }
  .navbar {
    display: none;
  }
  #check:checked ~ .navbar{
    height: 15vh;
    display:flex;
    flex-direction: column;
    margin-bottom: 5%;
  }
  .navbar {
    justify-content: unset;
    align-items: unset;
    width: 100%;
    gap:10px;
  }
  .navbar a{
    padding:0;
  }
  .nav-end{
    gap:10px;
    margin:0;
    flex-direction: column;
    padding:0;
  }
  .nav-start {
    margin:0;
    padding:0;
  }
  .navbar ul {
    justify-content: unset;
  }
  svg {
    font-size: 5vh;
    padding:10px 10px 0px 10px;
    color:white;
  }
  #profileArticle{
    flex-direction: column-reverse;
  }
  .profile {
    width: auto;
  }
  .posts {
    width: auto;
    margin-top: 15%;
    margin-left: 7%;
    margin-right: 7%;
  }
  #recipepic {
    width: 75%;
  }
  .modal-content{
    width: 80%;
  }
  .tags {
    width:100%;
  }
}
