* {
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    list-style:none;

}
.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;


}
.headtop {
    border-bottom: solid black 1px;
}

.nav-start {
    justify-content: flex-start;
    display:flex;
}
.nav-end {
    justify-content: flex-end;
    display:flex;
}

.navbar ul {
    gap: 10px;
    font-size: 3vh;
}
.navbar a {
    padding: 10px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}
.otsikko{
    text-align: center;
}

.tiedot {
    text-align: center;
    padding:0;
}
button {
    text-align: center;
}
.nappi {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:3%;
}
.signup{
    margin-top: 3%;
}
p{
    font-size: 2.5vh;
}
.checknappi{
    font-size: 30px;
    display:none;
    margin-bottom: 10px;
}
#check {
    display:none;
}

@media screen and (max-width: 525px) {
    .checknappi {
        display: flex;
    }
    .navbar {
        display: none;
    }
    #check:checked ~ .navbar{
        height: 20vh;
        display:flex;
        flex-direction: column;
        margin-bottom: 5%;
    }
    .navbar {
        justify-content: unset;
        align-items: unset;
        width: 100%;
        gap:10px;

    }
    .nav-end{
        gap:10px;
        margin:0;
        flex-direction: column;
        padding:0;
    }
    .nav-start {
        margin:0;
        padding:0;
    }
    .navbar ul {
        justify-content: unset;
    }
    svg {
        font-size: 5vh;
        padding:10px 10px 0px 10px;
    }
}








