<section>
    <h2 class="big">
        <script> let mariadbstatus = "<%= mariadbstatus %>";

          if (mariadbstatus == 'true') {
            document.write('MariaDB online');
          } else {
            document.write('mariaDB offline');
          }
        </script>
    </h2>
    <h2 class="big">
        <script> let apachestatus = "<%= apachestatus %>";

          if (apachestatus == 'true') {
            document.write('Apache online');
          } else {
            document.write('Apache offline');
          }
        </script>
    </h2>
</section>