<header>
    <input type="checkbox" id="check">
    <label for="check" class="checknappi">
        <i class="fas fa-bars"></i>
    </label>
    <label class="logo"></label>
    <nav>
        <ul class="nav-start">
            <li><a href="#">Etusivu</a></li>
        </ul>
        <ul class="nav-end">
            <li><a href="signIn.html">Kirjaudu</a></li>
            <li><a href="registration.html">Rekisteröinti</a></li>
            <li><a href="logout.html">Kirjaudu ulos</a></li>
        </ul>
    </nav>
</header>
<section class="frontUp">
    <input type="text" aria-label="Reseptien haku" placeholder="Hae Resepti" class="Haeresepti">
    <button id="filter">Filter</button>
    <div id="filterModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="modaladd">
                <H3>Add Filters</H3>
                <div class="filters">
                </div>
                <div class="filtersave">
                    <button>Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="recipebutton">
        <button href="addRecipe.html" id="addrecipesButton">Tee resepti</a></button>
    </div>
</section>
<main class="title">
    <h2> Uusimmat Reseptit</h2>
    <div class="reseptit">
        <figure>
            <img src="./media/logos/jakrecipeslogo.svg">
            <p>Nimi</p>
            <p>Aika</p>
            <p>Vaikeus</p>
            <p>Arviot</p>
            <p>Hinta</p>
            <p>Tags</p>
            <button>Katso resepti</button>
        </figure>
        <figure>
            <img src="./media/logos/jakrecipeslogo.svg">
            <p>Nimi</p>
            <p>Aika</p>
            <p>Vaikeus</p>
            <p>Arviot</p>
            <p>Hinta</p>
            <p>Tags</p>
            <button>Katso resepti</button>
        </figure>
        <figure>
            <img src="./media/logos/jakrecipeslogo.svg">
            <p>Nimi</p>
            <p>Aika</p>
            <p>Vaikeus</p>
            <p>Arviot</p>
            <p>Hinta</p>
            <p>Tags</p>
            <button>Katso resepti</button>
        </figure>
        <figure>
            <img src="./media/logos/jakrecipeslogo.svg">
            <p>Nimi</p>
            <p>Aika</p>
            <p>Vaikeus</p>
            <p>Arviot</p>
            <p>Hinta</p>
            <p>Tags</p>
            <button>Katso resepti</button>
        </figure>
        <figure>
            <img src="./media/logos/jakrecipeslogo.svg">
            <p>Nimi</p>
            <p>Aika</p>
            <p>Vaikeus</p>
            <p>Arviot</p>
            <p>Hinta</p>
            <p>Tags</p>
            <button>Katso resepti</button>
        </figure>
        <figure>
            <img src="./media/logos/jakrecipeslogo.svg">
            <p>Nimi</p>
            <p>Aika</p>
            <p>Vaikeus</p>
            <p>Arviot</p>
            <p>Hinta</p>
            <p>Tags</p>
            <button>Katso resepti</button>
        </figure>

    </div>
</main>

<script src="./js/frontpage.js"></script>
<script>
    const editFilter = document.getElementById("filterModal");

    const filterButton = document.getElementById("filter");

    let close = document.getElementsByClassName("close")[0];

    filterButton.onclick = function () {
        editFilter.style.display = "block";
    }

    close.onclick = function () {
        editFilter.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == editFilter) {
            editFilter.style.display = "none";
        }
    }
</script>