<!DOCTYPE html>
<html lang="en">

<head>


    <!-- basics of meta -->
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- favicon stuff -->
    <link href="media/icons/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="media/icons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="media/icons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <!-- Primary Meta Tags -->

    <meta content="Jakrecipes" name="title">
    <meta content="Joonas Lamminmäki, Aleksi Nokelainen, Kaarle Häyhä" name="author">
    <meta content="Jakrecipes is a recipe sharing website." name="description">
    <meta content="media/logos/jakrecipeswide.svg" name="image">
    <meta content="Jakrecipes" name="application-name">
    <meta content="JAK ltd" name="copyright">
    <meta content="Food" name="page-topic">
    <meta content="Recipes" name="page-type">
    <meta content="Everyone" name="audience">


    <!-- avainsanat -->
    <!-- näitä voi viel säätää -->
    <meta content="HTML, CSS, JavaScript,recipes,accessible, " name="keywords">


    <!-- Open Graph / Facebook -->
    <meta content="website" property="og:type">
    <meta content="10.114.34.72" property="og:url">
    <meta content="Jakrecipes" property="og:title">
    <meta content="Jakrecipes is a recipe sharing website" property="og:description">
    <meta content="media/logos/jakrecipeswide.svg" property="og:image">


    <!-- Twitter -->
    <meta content="summary_large_image" property="twitter:card">
    <meta content="10.114.34.72" property="twitter:url">
    <meta content="Jakrecipes" property="twitter:title">
    <meta content="Jakrecipes is a recipe sharing website." property="twitter:description">
    <meta content="media/logos/jakrecipeswide.svg" property="twitter:image">


    <!-- Google Analytics  -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PGLYY82MB9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() { dataLayer.push(arguments); }

        gtag('js', new Date());
        gtag('config', 'G-PGLYY82MB9');
    </script>


    <!-- fontawesome stuff -->
    <script crossorigin="anonymous" defer src="fontawesome/fontawesome.js"></script>
    <script crossorigin="anonymous" defer src="fontawesome/solid.js"></script>


    <!-- title -->
    <link href="../css/main.css" rel="stylesheet" />
    <script defer src="../js/utils/url.js"></script>
    <script defer src="./js/layout.js "></script>


</head>

<body class="pagebody" onload="startUp()">
    <header class="pageheader">
        <input id="check" class="displaynone" type="checkbox">
        <label class="checknappi" for="check">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo"></label>
        <nav class="navbar">
            <ul class="nav-start">
                <li><a href="" id="frontpage">Etusivu</a></li>
                <li><a href="" id="recipes">ReseptiTesti</a></li>
                <li><a href="" id="profile">Profile</a></li>
            </ul>
            <ul class="nav-end">
                <li id="signIn"><a href="">Kirjaudu</a></li>
                <li id="signUp"><a href="">Rekisteröinti</a></li>
                <li id="logOut"><a href="">Kirjaudu ulos</a></li>
            </ul>
        </nav>
    </header>


    <main class="pagemain" id="pageGeneration">
        <section class="frontUp" id="frontUp">
            <input aria-label="Reseptien haku" class="recipeSearchInput " id="typeInputField" placeholder="Hae Resepti"
                type="text">
            <button class="filterStyle" id="filter">Filter</button>
            <button class="filterStyle marpad1rem" id="hae">Hae</button>

            <div class="modal" id="filterModal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div class="modaladd">
                        <H3>Add Filters</H3>
                        <div class="filters">
                        </div>
                        <div class="filtersave">
                        </div>
                    </div>
                </div>
            </div>

            <div class="addRecipes">
                <button href="addRecipe.html" id="addrecipesButton">Tee resepti</a></button>
            </div>
        </section>
        <h2 class="otsikko"> Uusimmat Reseptit</h2>
        <hr>
        <div class="reseptit " id="presentationdata">


        </div>
    </main>

    <footer class="pageFooter">
        <div aria-label="Info" class="pageFooterContainer">
            <h3 class="pageFooterContainerListTitle">Info</h3>
            <hr>
            <ul class="pageFooterContainerList">
                <li class="pageFooterContainerListItem"><a id="aboutUs">About Us</a></li>
                <li class="pageFooterContainerListItem"><a id="supportSite">Support </a></li>
                <li class="pageFooterContainerListItem"><a id="contact">Contact us</a></li>
            </ul>
        </div>
        <div aria-label="Socialmediat" class="pageFooterContainer">
            <h3 class="pageFooterContainerListTitle">Socialmedia</h3>
            <hr>
            <ul class="pageFooterContainerList">
                <li class="pageFooterContainerListItem"><a>instagram</a></li>
                <li class="pageFooterContainerListItem"><a>twitter</a></li>
                <li class="pageFooterContainerListItem"><a>facebook</a></li>
            </ul>
        </div>
        <div aria-label="Tekijät" class="pageFooterContainer">
            <h3 class="pageFooterContainerListTitle">Tekijät</h3>
            <hr>
            <ul class="pageFooterContainerList">
                <li class="pageFooterContainerListItem"><a>Kaarle</a></li>
                <li class="pageFooterContainerListItem"><a>Joonas</a></li>
                <li class="pageFooterContainerListItem"><a>Aleksi</a></li>
            </ul>
        </div>

    </footer>
</body>

</html>