<!DOCTYPE html>
<html lang="en">

<head>


    <!-- basics of meta -->
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- favicon stuff -->
    <link href="media/icons/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="media/icons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="media/icons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <!-- Primary Meta Tags -->

    <meta content="Jakrecipes" name="title">
    <meta content="Joonas Lamminmäki, Aleksi Nokelainen, Kaarle Häyhä" name="author">
    <meta content="Jakrecipes is a recipe sharing website." name="description">
    <meta content="media/logos/jakrecipeswide.svg" name="image">
    <meta content="Jakrecipes" name="application-name">
    <meta content="JAK ltd" name="copyright">
    <meta content="Food" name="page-topic">
    <meta content="Recipes" name="page-type">
    <meta content="Everyone" name="audience">


    <!-- avainsanat -->
    <!-- näitä voi viel säätää -->
    <meta content="HTML, CSS, JavaScript,recipes,accessible, " name="keywords">


    <!-- Open Graph / Facebook -->
    <meta content="website" property="og:type">
    <meta content="10.114.34.72" property="og:url">
    <meta content="Jakrecipes" property="og:title">
    <meta content="Jakrecipes is a recipe sharing website" property="og:description">
    <meta content="media/logos/jakrecipeswide.svg" property="og:image">


    <!-- Twitter -->
    <meta content="summary_large_image" property="twitter:card">
    <meta content="10.114.34.72" property="twitter:url">
    <meta content="Jakrecipes" property="twitter:title">
    <meta content="Jakrecipes is a recipe sharing website." property="twitter:description">
    <meta content="media/logos/jakrecipeswide.svg" property="twitter:image">


    <!-- Google Analytics  -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PGLYY82MB9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() { dataLayer.push(arguments); }

        gtag('js', new Date());
        gtag('config', 'G-PGLYY82MB9');
    </script>


    <!-- fontawesome stuff -->
    <script crossorigin="anonymous" defer src="fontawesome/fontawesome.js"></script>
    <script crossorigin="anonymous" defer src="fontawesome/solid.js"></script>


    <!-- title -->
    <link href="./css/main.css" rel="stylesheet" />
    <script defer src="./js/utils/url.js"></script>
    <script defer src="./js/layout.js "></script>


</head>

<body class="pagebody">
    <header class="pageheader">
        <input id="check" class="displaynone" type="checkbox">
        <label class="checknappi" for="check">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo"></label>
        <nav class="navbar">
            <ul class="nav-start">
                <li><a href="" id="frontpage">Etusivu</a></li>
            </ul>
            <ul class="nav-end">
                <li id="signIn"><a href="signIn.html" id="signInLink">Kirjaudu</a></li>
                <li id="register"><a href="registration.html" id="registrationLink">Rekisteröinti</a>
                </li>
                <li id="logOut"><a href="">Kirjaudu ulos</a></li>
            </ul>
        </nav>
    </header>

    <main class="pagemain" id="pageGeneration">
        <section class="frontUp" id="frontUp">
            <input aria-label="Reseptien haku" class="recipeSearchInput " placeholder="Hae Resepti" type="text">
            <button class="filterStyle" id="filter">Filter</button>
            <button class="filterStyle marpad1rem" id="hae">Hae</button>

            <div class="modal" id="filterModal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div class="modaladd">
                        <H3>Add Filters</H3>
                        <div class="filters">
                        </div>
                        <div class="filtersave">
                        </div>
                    </div>
                </div>
            </div>

            <div class="addRecipes">
                <button href="addRecipe.html" id="addrecipesButton">Tee resepti</a></button>
            </div>
        </section>
        <h2 class="otsikko"> Uusimmat Reseptit</h2>
        <hr>
        <div class="reseptit " id="presentationdata">


        </div>
    </main>
    <hr>
    <main class="pagemain">
        <H2 class="otsikko">Tee Uusi Resepti</H2>
        <div class="addRecipe_detail">
            <div class="recipename">
                <input id="recipenameInput" placeholder="Reseptin nimi (pakollinen).">
                <button id="tag">Lisää tagi</button>

                <select id="courseselect" name="course" title="ruoka">
                    <option value="1">Aamiainen</option>
                    <option value="2">Lounas</option>
                    <option value="3">Päivällinen</option>
                    <option value="4">Illallinen</option>
                </select>

            </div>
            <div class="modal" id="editModal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div class="modaladd">
                        <H3>Lisää tageja</H3>
                        <div class="tags" id="tags">
                        </div>
                    </div>
                </div>
            </div>
            <form class="imagebutton" enctype="multipart/form-data" id="recipeAddimagebutton">
                <input accept="image/*" id="file" multiple='multiple' name="recipe" type="file">
            </form>
        </div>
        </div>
        <div class="recipe_desc">
            <div class="instruction">
                <form>
                    <textarea id="recipeguide" placeholder="Reseptin ohje (pakollinen)."></textarea>
                </form>
            </div>
            <input id="recipetimeInput" placeholder="Reseptin valmistusaika." type="number">
            <div class="postButton">
                <button class="postRecipe" id="postRecipe">Tee Lisäys!</button>
            </div>
        </div>
    </main>
    <hr>
    <main>
        <img alt="jakrecipeslogo" id="signupImage" src="media/logos/jakrecipeslogo.png">
        <H2 class="otsikko">Kirjaudu</H2>

        <div class="signup">
            <ul class="tiedot">
                <li>
                    <p class="fontsizeforp">Email</p>
                </li>
                <li><input id="emailInputSignIn"></li>
                <li>
                    <p class="fontsizeforp">Password</p>
                </li>
                <li><input id="passwordInputSignIn"></li>
            </ul>
        </div>
        <div class="nappi" id="signinNappi">
            <button>Sign In</button>
        </div>
    </main>
    <main>
        <img alt="jakrecipeslogo" id="signupImage" src="media/logos/jakrecipeslogo.svg">
        <H2 class="otsikko">Rekisteröidy</H2>
        <div class="signup">
            <ul class="tiedot">
                <li>
                    <p class="fontsizeforp">Email</p>
                </li>
                <li><input id="emailInputSignUp" placeholder="(Eg. John@gmail.com)" required type="email"></li>
                <li>
                    <p class="fontsizeforp">Password</p>
                </li>
                <li><input id="passwordInputSignUp" pattern="(?=.*[\p{Lu}]).{8,}"
                        placeholder="(Atleast 8 letters & 1 capital)" required type="password"></li>
            </ul>
        </div>
        <div class="nappi">
            <button id="signupNappi">Sign Up</button>
        </div>
    </main>
    <hr>
    <main class="pagemain">
        <H2 class="otsikko">Profiili</H2>
        <article id="profileArticle">
            <div class="userPosts">
                <p class="fontsizeforp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at
                    corporis, eaque enim esse
                    iure
                    qui
                    rerum. Ad deleniti ex libero molestias unde? Blanditiis dolorem eius est nostrum, placeat quidem?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda dolorem doloremque,
                    eum
                    facere
                    incidunt ipsum iste laudantium modi molestias numquam placeat qui quia quo ratione repudiandae
                    tempore,
                    velit
                    voluptatibus.</p>
                <br>
                <p class="fontsizeforp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at
                    corporis, eaque enim esse
                    iure
                    qui
                    rerum. Ad deleniti ex libero molestias unde? Blanditiis dolorem eius est nostrum, placeat quidem?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda dolorem doloremque,
                    eum
                    facere
                    incidunt ipsum iste laudantium modi molestias numquam placeat qui quia quo ratione repudiandae
                    tempore,
                    velit
                    voluptatibus.</p>
            </div>
            <div class="userProfile">
                <img alt="jakrecipeslogo" id="profilepic" src="media/logos/jakrecipeslogo.svg">
                <p class="fontsizeforp">Username</p>
                <button id="editProfile">Edit Profile</button>
            </div>
            <div class="modal" id="editModal">


                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div class="username">
                        <p class="fontsizeforp">Username</p>
                        <input>
                    </div>
                    <div class="pic">
                        <p class="fontsizeforp">Profile Picture</p>
                        <button>Upload Image</button>
                    </div>
                    <div class="save">
                        <button>Save</button>
                        <button id="delete">Delete Profile</button>
                    </div>
                    <div class="modal" id="deleteModal">
                        <div class="modal-content">
                            <span class="closeDelete">&times;</span>
                            <div>
                                <p class="fontsizeforp">Are you sure you want to delete your profile?</p>
                            </div>
                            <div class="deleteProfile">
                                <button id="noButton">No</button>
                                <button>Yes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script>

                const noButton = document.getElementById('noButton');

                const editProfile = document.getElementById('editModal');

                const button = document.getElementById('editProfile');

                let closeModal = document.getElementsByClassName('close')[0];

                let closeDelete = document.getElementsByClassName('closeDelete')[0];

                const deleteProfile = document.getElementById('deleteModal');

                const deleteButton = document.getElementById('delete');

                button.onclick = function () {
                    editProfile.style.display = 'block';
                };

                closeModal.onclick = function () {
                    editProfile.style.display = 'none';
                };

                window.onclick = function (event) {
                    if (event.target == editProfile) {
                        editProfile.style.display = 'none';
                    }
                };
                deleteButton.onclick = function () {
                    deleteProfile.style.display = 'block';
                };
                closeDelete.onclick = function () {
                    deleteProfile.style.display = 'none';
                };

                noButton.onclick = function () {
                    deleteProfile.style.display = 'none';
                };


            </script>
        </article>
    </main>


</body>

</html>